{% extends 'chat/base.html' %}
{% load static %}

{% block title %}ルーム入力画面{% endblock %}

{% block body %}
<ul>
  <li><a href="{% url 'chat_room_form' %}">ルーム入力画面</a></li>
</ul>
<h1>チャットルーム</h1>
<table border="1">
  <tr>
    <th>ルーム名</th><td>{{ object.name }}</td>
  </tr>
  <tr>
    <th>開設日時</th><td>{{ object.created_at }}</td>
  </tr>
</table>
<ol id="chat-list" class="chat-list">
  {% for chat in object.chat_set.all %}
    {% if chat.content %}
    <li class="chat-list__item">
      <span class="chat-list__time">{{ chat.created_at }}：</span>
      <span class="chat-list__content">{{ chat.content }}</span>
    </li>
    {% elif chat.src %}
    <li class="chat-list__item">
      <span class="chat-list__time">{{ chat.created_at }}：</span>
      <img class="chat-list__src" src="{{ chat.src.url }}" alt="{{ chat.src }}">
    </li>
    {% endif %}
  {% empty %}
  <li>まだチャットはありません</li>
  {% endfor %}
</ol>
<input type="file" id="chat-file-input" accept=".png,.jpeg,.jpg,.pdf">
<input type="text" id="chat-message-input" placeholder="文字を入力">
<button id="chat-message-submit">送信</button>
{% endblock %}

{% block extra_js %}
<script src="{% static 'chat/js/chat-websocket.js' %}" ></script>
{% endblock %}
